@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  font-family: 'Architects Daughter', cursive;
  background-color: #f5f5f5;
}

#seleccionar-pj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
font-size: 40px;
color: #222831;
}

.subtitulo {
  font-size: 24px;
  color: #39517c;
}

.contenedor, .ataques{
  display: flex;
  gap: 30px;
}

.pj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #49689b;
  color: #000000;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  border: 1px solid aliceblue;
  border-radius: 20px;
}

.contenedor img {
  width: 60%;

}

#boton-pj{
  width: 180px;
  height: 30px;
  background-color: #49689b;
  color: #000000;
  border: none;
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.pj:hover {
  background-color: #86a2cf;
  cursor: pointer;
}

#boton-pj:hover {
  background-color: #86a2cf;
  color: #000000;
  cursor: pointer;
}

input {
  display: none;

}

input:checked + .pj {
  background-color: #5f7a92;
}

#seleccionar-ataque{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-ataque{
  width: 100px;
  height: 50px;
  background-color: #393E46;
  color: #EEEEEE;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  border: 1px solid aliceblue;
  border-radius: 5px;
  font-family: 'Architects Daughter', cursive;
}

#mensajes {
  display: flex;
  width: 200px;
  background: #dedede;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
}

#boton-reiniciar {
  border: transparent;
  color: #39517c;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
}

.batalla {
  display: grid;
  grid-template-columns: 100px 100px;
}

.batalla-pj, .batalla-enemigo{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 360px) {
  .contenedor,
  .ataques{
    flex-direction: column;
  }
  .titulo {
    font-size: 20px;
    color: #222831;
    text-align: center;
    }
}